@import url("https://fonts.googleapis.com/css3?family=Poppins:wght@500;700;800&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

html {
	font-size: clamp(12px, 3vw, 18px);
}

body {
	background-color: #000;
	color: #fff;
}

.landing {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(assets/header-image.png);
	background-size: cover;
	background-position: center;
	padding: 10px 8%;
	position: relative;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0;
}

nav button {
	border: none;
	outline: none;
	background-color: #db0001;
	color: #fff;
	padding: 7px 20px;
	font-size: 0.8rem;
	border-radius: 4px;
	margin-left: 10px;
	cursor: pointer;
}

.logo {
	width: clamp(100px, 20vw, 150px);
	cursor: pointer;
}

.lang-button {
	display: inline-flex;
	align-items: center;
	background: transparent;
	border: 1px solid #fff;
	padding: 7px 10px;
}

.lang-button img {
	width: 10px;
	margin-left: 10px;
}

.fa-globe {
	color: #fff;
	width: 10px;
	margin-right: 10px;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;

	height: 90vh;

	text-align: center;
}

main h1 {
	font-size: 3.4rem;
	line-height: 70px;
	font-weight: 600;
	max-width: 650px;
}

main h3 {
	font-weight: 400;
	margin-bottom: 20px;
}

.email-signup {
	background: #fff;
	border-radius: 4px;
	display: flex;
	align-items: center;
	margin-top: 30px;
	overflow: hidden;
}

.email-signup input {
	flex: 1;
	border: 0;
	outline: 0;
	margin-left: 20px;
}

.email-signup button {
	background-color: #db0001;
	border: none;
	outline: none;
	color: #fff;
	font-size: 1rem;
	cursor: pointer;
	padding: 15px 30px;
}

.feature {
	display: flex;
	flex-flow: row-reverse wrap;
	align-items: center;
	justify-content: center;
	gap: 20px 60px;

	padding: 0px clamp(10px, 20vw, 150px);
	margin: 100px 0px;
}

.feature:nth-child(2n) {
	flex-flow: row wrap;
}

.feature header {
	flex: 2 0 40%;
}

.feature h2 {
	font-size: 3rem;
	font-weight: 600;
	margin-bottom: 20px;
}

.feature p {
	font-size: 1.8rem;
}

.feature img {
	max-width: 500px;
	width: 100%;
}

.faq {
	padding: 10px 12%;
	text-align: center;
	font-size: 1.2rem;
}

.faq h2 {
	font-size: 3rem;
	font-weight: 500;
}

.accordion {
	margin: 60px auto;
	width: 100%;
	max-width: 750px;
}

.accordion li {
	list-style: none;
	width: 100%;
	padding: 5px;
}

.accordion li label {
	display: flex;
	align-items: center;
	padding: 20px;
	font-size: 1.2rem;
	font-weight: 500;
	background-color: #303030;
	margin-bottom: 2px;
	cursor: pointer;
	position: relative;
}

label::after {
	content: "+";
	font-size: 2.5rem;
	position: absolute;
	right: 20px;
	transition: transform 400ms;
}

input[type="checkbox"] {
	display: none;
}

.accordion .content {
	background-color: #303030;
	text-align: left;
	padding: 0 20px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 400ms, padding 400ms, margin 400ms;
}

.accordion input[type="checkbox"]:checked + label + .content {
	margin-top: 10px;
	max-height: 600px;
	padding: 30px 20px;
}

.accordion input[type="checkbox"]:checked + label::after {
	transform: rotate(135deg);
}

.faq small {
	font-size: 13px;
}

.faq .email-signup {
	max-width: 600px;
	margin: 20px auto 60px;
}

footer {
	display: flex;
	flex-flow: column;
	gap: 10px;
	align-items: flex-start;

	padding: 50px 15vw;
	border-top: 6px solid #333;
	color: #777;
}

footer h2 {
	font-size: 1.2rem;
	font-weight: 400;
	margin-bottom: 30px;
}

.footer ul {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	gap: 20px;
}

footer li {
	flex: 1 0 20%;
	display: flex;
	flex-flow: column;
	gap: 10px;

	margin-bottom: 20px;
	list-style: none;
}

footer a {
	text-decoration: none;
	color: #777;
	font-size: 0.9rem;
}

footer .lang-button {
	color: #fff;
	padding: 10px 20px;
	border-radius: 3px;
}

.copyright-text {
	font-size: 0.9rem;
	margin-top: 20px;
	margin-bottom: 10px;
}
